#personalInformation {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Fragment Mono', monospace;
    text-align: center;
    color:rgb(201, 201, 201);

}

                        
#profile-img {
    background-color:#212529 ;
    margin-left: 43%;
    margin-bottom: 50px;
    width: 13em;
    height: 16em;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

.textContainer {
    font-family: 'Fragment Mono', monospace;
    margin-left: 10%;
    margin-right: 35%;
    margin-top: 50px;
    color:rgb(201, 201, 201);
}

 #techLabel {

    font-family: 'Fragment Mono', monospace;
    margin-left: 34%;
    margin-bottom: 10px;
    color:rgb(201, 201, 201);
}

#homeLink {
    margin-bottom: 10px;
    width: 3em;
    height: 3em;
}

#skillsContaiiner {

    margin-top: 10px;
    background-color:#212529;

}

.skillsImg {
    width: 3em;
    height: 3em;
    /* top,left&right, bottom */
    margin: 00px 10px 25px;
}

#carouselCode{
    margin-top: 20px;
    width: 13em;
    height: 16em;
    margin-left: 42%;
}

#contactMe { 
    margin-left:20px;
    margin-top: 20px ;
    margin-bottom: 20px;
}

#linkedin{
    margin-left: 10px;  

}

#email{

    margin-left: 15px;

}

#arrow{
    margin-left: 20px;
    width: 3em;
    height: 10em;
}



body {
    background-size: cover;
    font-family: 'Fragment Mono', monospace;
}


/* misma caja en la misma linea */
#displayBox {
    background-color: red;
    display: inline-block;
    margin-block-end: 10px;
    position: absolute;
}
p {

    color:rgb(201, 201, 201);

}

a {
    margin-left: 10px;
}

h3 {
    margin-left: 10px;
    color:rgb(201, 201, 201);
}

h4 {
    margin-left: 10px;
    color:rgb(201, 201, 201);
}
h5 {
    margin-left: 10px;
    color:rgb(201, 201, 201);
}

li {
    color:rgb(201, 201, 201); 
}

.personalInformation {

    margin-top: 300px;
}

#programmingTechnologies {
    margin-top:  200px;
}

.display-50
{
   margin-top: 20px;
   margin-left: 30px;
    width:30em;
    height: 30em;
}

.display-large-pictures
{
   margin-top: 50px;
   margin-left: 30px;
    width: 40em;
    height: 12em;
}
p
{
margin-left: 10px;
}
.PreConditions {

    color:rgb(201, 201, 201);
}

dd,dt {
    color:rgb(201, 201, 201);
}

.halfsizePicture {
    margin-top: 20px;
    width: 20em;
    height: 20em;
    margin-left: 10px;
}